<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/source/css/common.css">
    <link rel="stylesheet" href="link.css">
</head>

<body>

    <div id="link-holder" class="link-holder">
        <div id="link" class="link">
            <div class="wrap clearfix">
                <div id="link-brands" class="link-brands fn-left">
                    <header class="link-header">
                        <h4>热门品牌</h4>
                    </header>
                    <div class="link-content clearfix">
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                    </div>
                </div>
                <div id="link-friend" class="link-friend fn-left">
                    <header class="link-header">
                        <h4>合作伙伴</h4></header>
                    <div class="link-content clearfix">
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                        <a href="" target="_blank"><img src=""></a>
                    </div>
                </div>
                <div id="link-tab" class="link-tab fn-right">
                    <header class="link-header link-tab-btn">
                        <h4 class="current">友情链接</h4>
                        <h4>行业网站</h4>
                    </header>
                    <div class="link-content link-tab-content clearfix">
                        <a href="" target="_blank">车云网</a>
                        <a href="" target="_blank">凤凰汽车</a>
                        <a href="" target="_blank">天津港汽车报价</a>
                        <a href="" target="_blank">车云网</a>
                        <a href="" target="_blank">凤凰汽车</a>
                        <a href="" target="_blank">天津港汽车报价</a>
                        <a href="" target="_blank">车云网</a>
                    </div>
                    <div class="link-content link-tab-content clearfix fn-hide">
                        <a href="" target="_blank">凤凰汽车</a>
                        <a href="" target="_blank">天津港汽车报价</a>
                        <a href="" target="_blank">车云网</a>
                        <a href="" target="_blank">凤凰汽车</a>
                        <a href="" target="_blank">天津港汽车报价</a>
                        <a href="" target="_blank">车云网</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="link.debug.js"></script>

</body>

</html>
