.link {
    background-color: #3f4850;
}

.link .wrap {
    padding: 35px 0;
}

.link-brands {
    margin-right: 145px;
}

.link-header {
    height: 33px;
}

.link-header h4 {
    height: 30px;
    line-height: 30px;
    border-bottom: 3px solid #00a0e9;
    font-size: 18px;
    color: #adb4b9;
    float: left;
    margin-right: 18px;
}

.link-brands .link-content {
    width: 300px;
    padding-top: 15px;
}

.link-brands .link-content a {
    float: left;
    width: 44px;
    height: 44px;
    border: 1px solid #3f4850;
    margin: 0 14px 10px 0;
}

.link-brands .link-content a:hover {
    border-color: #6a747d;
}

.link-brands .link-content img {
    width: 44px;
    height: 44px;
}

.link-friend .link-content {
    width: 285px;
    padding-top: 15px;
}

.link-friend .link-content a {
    float: left;
    width: 78px;
    height: 34px;
    border: 1px solid #3f4850;
    margin: 0 15px 15px 0;
}

.link-friend .link-content a:hover {
    border-color: #00a0e9;
}

.link-friend .link-content img {
    width: 78px;
    height: 34px;
}

.link-tab .link-content {
    width: 340px;
    padding-top: 7px;
    line-height: 36px;
    font-size: 14px;
}

.link-tab .link-content a {
    color: #dee4e9;
    float: left;
    margin-right: 24px;
}

.link-tab .link-content a:hover {
    color: #00a0e9;
}

.link-tab .link-header h4 {
    border-bottom-color: #6d7780;
    cursor: pointer;
}

.link-tab .link-header h4.current, .link-tab .link-header h4:hover {
    border-bottom-color: #00a0e9;
}
