<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/build/common.css">
    <link rel="stylesheet" href="guide.css">
</head>

<body>

    <div id="guide-holder" class="guide-holder">
        <div id="guide" class="guide">
            <div class="guide-top wrap">
                <header class="guide-header fn-left">
                    <div class="guide-tools">
                        <a href="">购车计算器</a>
                        <a href="">补贴查询</a>
                        <a href="">摇号查询</a>
                        <a href="">免费询价</a>
                    </div>
                </header>
                <div class="guide-filter fn-right">
                    <div class="guide-filter-brand guide-filter-item clearfix">
                        <header class="fn-left">热门品牌</header>
                        <nav class="fn-left">
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                            <a href="" target="_blank"><img src="" alt=""></a>
                        </nav>
                    </div>
                    <div class="guide-filter-hot guide-filter-item clearfix">
                        <header class="fn-left">热门条件</header>
                        <div class="filter-hot-box fn-left">
                            <nav class="filter-super-tab">
                                <a href="javascript:;" class="current">
                                    <i class="icon">&#xe60d;</i>
                                    <span>价格</span>
                                </a>
                                <a href="javascript:;">
                                    <i class="icon">&#xe60d;</i>
                                    <span>续航</span>
                                </a>
                                <a href="javascript:;">
                                    <i class="icon">&#xe60d;</i>
                                    <span>类型</span>
                                </a>
                            </nav>
                            <div class="filter-super-tabcon">
                                <nav class="filter-sub-tab">
                                    <a href="javascript:;" class="current">10万以下</a>
                                    <a href="javascript:;">10-20万</a>
                                    <a href="javascript:;">20-30万</a>
                                    <a href="javascript:;">30万以上</a>
                                </nav>
                                <div class="filter-sub-tabcon">
                                    <div class="filter-model-list">
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e6</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e6</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e6</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e6</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e6</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="filter-sub-tabcon fn-hide">
                                    <div class="filter-model-list">
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e3</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="filter-sub-tabcon fn-hide">
                                    <div class="filter-model-list">
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e4</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="filter-sub-tabcon fn-hide">
                                    <div class="filter-model-list">
                                        <a href="" class="filter-model-item" target="_blank">
                                            <img src="">
                                            <p class="filter-model-title">比亚迪 e66</p>
                                            <p class="filter-model-price">￥12.89-23.3万</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-super-tabcon fn-hide"></div>
                            <div class="filter-super-tabcon fn-hide"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="guide-news wrap">
                <div class="guide-news-column guide-news-test">
                    <header class="news-column-header">
                        <h3>车型评测</h3>
                        <a href="" class="news-column-more" target="_blank">more ></a>
                    </header>
                    <div class="news-column-content">
                        <div class="guide-news-photo">
                            <a href="">
                                <img src="http://i2.dd-img.com/upload/2016/1202/1480652132644.jpg">
                                <div class="guide-news-cover">
                                    <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                    <div class="guide-news-type"></div>
                                </div>
                            </a>
                        </div>
                        <div class="guide-news-list">
                            <ul>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="guide-news-column guide-news-video">
                    <header class="news-column-header">
                        <h3>视频评测</h3>
                        <a href="" class="news-column-more" target="_blank">more ></a>
                    </header>
                    <div class="news-column-content">
                        <div class="guide-news-photo">
                            <a href="">
                                <img src="http://i2.dd-img.com/upload/2016/1202/1480652132644.jpg">
                                <div class="guide-news-cover">
                                    <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                    <div class="guide-news-type"></div>
                                </div>
                            </a>
                        </div>
                        <div class="guide-news-list">
                            <ul>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-ico" target="_blank">单车评测</a>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="guide-news-column guide-news-model">
                    <header class="news-column-header">
                        <h3>车型导购</h3>
                        <a href="" class="news-column-more" target="_blank">more ></a>
                    </header>
                    <div class="news-column-content">
                        <div class="guide-news-photo">
                            <a href="">
                                <img src="http://i2.dd-img.com/upload/2016/1202/1480652132644.jpg">
                                <div class="guide-news-cover">
                                    <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                    <div class="guide-news-type"></div>
                                </div>
                            </a>
                        </div>
                        <div class="guide-news-list">
                            <ul>
                                <li>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                                <li>
                                    <a href="" class="guide-news-text" target="_blank">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="guide-photo wrap"></div>
        </div>
    </div>


    <script src="guide.debug.js"></script>

</body>

</html>
