<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/build/common.css">
    <link rel="stylesheet" href="nav.css">
</head>

<body>

    <p style="height: 200px;"></p>

    <nav id="nav" class="nav">
        <div class="wrap">
            <div class="nav-list fn-left">
                <a href="http://www.diandong.com/" target="_blank" class="current">首页</a>
                <a href="http://www.diandong.com/news/" target="_blank">资讯</a>
                <a href="http://car.diandong.com/" target="_blank">车型库</a>
                <a href="http://www.diandong.com/roadtest/" target="_blank">评测</a>
                <a href="http://www.diandong.com/video/" target="_blank">视频</a>
                <a href="http://www.diandong.com/mall/" target="_blank">商城</a>
                <a href="http://www.diandong.com/tiyandian/" target="_blank">体验店</a>
                <a href="http://bbs.diandong.com/" target="_blank">社区</a>
            </div>
            <a class="nav-app fn-right" target="_blank" href="http://www.diandong.com/app/">
                <span class="nav-app-screen"></span>
                <span class="nav-app-ico"></span>
                <em>APP下载</em>
            </a>
        </div>
    </nav>

</body>

</html>
