.nav {
    background-color: #3b3f40;
}

.nav .wrap {
    height: 37px;
}

.nav-list {
    height: 37px;
    font-size: 0;
    text-align: center;
    line-height: 37px;
}

.nav-list a {
    display: inline-block;
    width: 124px;
    height: 37px;
    font-size: 16px;
    color: #e4e4e4;
}

.nav-list a:hover {
    background-color: #197acc;
    color: white;
}

.nav-list a.current {
    background-color: #3595e7;
    color: white;
}

.nav-app {
    width: 115px;
    height: 37px;
    position: relative;
    font-size: 16px;
    line-height: 37px;
    color: #e4e4e4;
}

.nav-app-ico {
    position: absolute;
    width: 39px;
    height: 43px;
    background-image: url(http://i1.dd-img.com/assets/image/1481611397-cde318cad8725766-39w-43h.png);
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
}

.nav-app-screen {
    width: 17px;
    height: 28px;
    position: absolute;
    top: -2px;
    left: 15px;
    background-color: #00b7ee;
    transition: background-color 0.3s;
}

.nav-app:hover {
    color: white;
}

.nav-app:hover .nav-app-screen {
    background-color: #eefb19;
}

.nav-app em {
    position: absolute;
    width: 76px;
    height: 37px;
    right: 0;
    bottom: 0;
    font-style: normal;
    text-align: center;
}
