.focus .wrap {
    height: 350px;
}

.focus-swiper {
    width: 815px;
    height: 350px;
    position: relative;
}

.focus-container {
    width: 815px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.focus-wrapper {
    position: relative;
}

.focus-slide {
    float: left;
}

.focus-slide a {
    display: block;
    width: 815px;
    height: 350px;
}

.focus-slide a:hover img {
    transform: scale(1.05);
}

.focus-slide img {
    width: 815px;
    height: 350px;
    display: block;
    transition: transform 0.5s;
}

.focus-list {
    width: 375px;
    height: 350px;
    overflow: hidden;
}

.focus-item {
    width: 375px;
    height: 170px;
    margin-bottom: 10px;
    overflow: hidden;
}

.focus-item img {
    width: 375px;
    height: 170px;
    transition: all 0.5s;
}

.focus-item:hover img {
    transform: scale(1.05);
}

.focus-pages {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 15px;
}

.focus-pages .swiper-pagination-switch {
    width: 7px;
    height: 7px;
    display: inline-block;
    background-color: #8f8f98;
    margin: 0 5px;
}

.focus-pages .swiper-active-switch {
    background-color: #3595e7;
    box-shadow: 0 0 0 2px #8f8f98;
}

.focus-ctrl {
    position: absolute;
    width: 28px;
    height: 74px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    top: 138px;
    display: none;
}

.focus-ctrl i {
    line-height: 74px;
    font-size: 26px;
}

.focus-ctrl-prev {
    left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.focus-ctrl-next {
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.focus-swiper:hover .focus-ctrl {
    display: block;
}

.focus-display {
    width: 815px;
    height: 350px;
    position: relative;
}

.focus-display-item {
    width: 815px;
    height: 350px;
    display: none;
}

.focus-display-item img {
    width: 815px;
    height: 350px;
}

.focus-pages span {
    width: 7px;
    height: 7px;
    display: inline-block;
    background-color: #8f8f98;
    margin: 0 5px;
}

.focus-pages span.current {
    background-color: #3595e7;
    box-shadow: 0 0 0 2px #8f8f98;
}
