<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/source/css/common.css">
</head>

<body>

    <div id="application">

        <div id="focus" class="focus">
            <div class="wrap">
                <div class="focus-swiper fn-left">
                    <div class="focus-container">
                        <div class="focus-wrapper">
                            <div class="focus-slide">
                                <a href="" target="_blank">
                                    <img src="http://i2.dd-img.com/upload/2016/1223/1482456030376.jpg">
                                </a>
                            </div>
                            <div class="focus-slide">
                                <a href="" target="_blank">
                                    <img src="http://i2.dd-img.com/upload/2016/1227/1482801324588.jpg">
                                </a>
                            </div>
                            <div class="focus-slide">
                                <a href="" target="_blank">
                                    <img src="http://i2.dd-img.com/upload/2016/1223/1482456030376.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="focus-pages"></div>
                    <a href="javascript:;" class="focus-ctrl focus-ctrl-prev"><i class="icon">&#xe602;</i></a>
                    <a href="javascript:;" class="focus-ctrl focus-ctrl-next"><i class="icon">&#xe603;</i></a>
                </div>

                <div class="focus-list fn-right">
                    <div class="focus-item">
                        <a href="" target="_blank">
                            <img src="http://i2.dd-img.com/upload/2016/1227/1482801324588.jpg">
                        </a>
                    </div>
                    <div class="focus-item">
                        <a href="" target="_blank">
                            <img src="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="focus.debug.js"></script>

</body>

</html>
