<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/build/common.css">
</head>

<body>

    <div id="application">

        <div id="focus" class="focus">
            <div class="wrap">
                <div class="focus-slide fn-left">
                    <div class="focus-container">
                        <div class="focus-wrapper">
                            <div class="focus-slide">
                                <a href="" target="_blank">
                                    <!-- 815 * 350--><img src="">
                                </a>
                            </div>
                            <div class="focus-slide">
                                <a href="" target="_blank">
                                    <!-- 815 * 350--><img src="">
                                </a>
                            </div>
                            <div class="focus-slide">
                                <a href="" target="_blank">
                                    <!-- 815 * 350--><img src="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="focus-list fn-right">
                    <div class="focus-item">
                        <a href="" target="_blank">
                            <!-- 375 * 170--><img src="">

                        </a>
                    </div>
                    <div class="focus-item">
                        <a href="" target="_blank">
                            <!-- 375 * 170--><img src="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
