<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/source/css/common.css">
    <link rel="stylesheet" href="news.css">
</head>

<body>

    <div id="news-holder" class="news-holder">
        <div id="news" class="news">
            <div class="wrap">
                <header class="news-header">
                    <p class="news-header-text">不在乎目的地，只在乎沿途的风景</p>
                </header>
                <nav class="news-tab">
                    <a href="javascript:;" class="current">最新</a>
                    <a href="javascript:;">新车</a>
                    <a href="javascript:;">行业</a>
                    <a href="javascript:;">技术</a>
                    <a href="javascript:;">政策</a>
                </nav>
                <div class="news-tab-content">
                    <div class="news-row news-row-first">
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src="http://i2.dd-img.com/upload/2016/0718/1468810509478.jpg"></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="news-row">
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item-focus news-type-new">
                            <a href="" target="_blank">
                                <img src="http://i2.dd-img.com/upload/2016/1216/1481866838465.jpg">
                                <div class="news-focus-cover">
                                    <div class="news-focus-title">韩国双龙推Tivolis电动版 推行旗下车型电动化</div>
                                    <div class="news-focus-type"><i></i><em>新车</em></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="news-row">
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="news-item-pic">
                                <a href="" target="_blank"><img src=""></a>
                                <a href="" class="news-type-tag" target="_blank">新车</a>
                            </div>
                            <div class="news-item-title"><a href="" target="_blank">外观内饰都有调整，爆MG新款实车</a></div>
                            <div class="news-item-info">
                                <div class="news-item-time fn-left">2016/10/13 09:30</div>
                                <div class="news-item-tags fn-right"><a href="" target="_blank">自动驾驶</a><i>|</i><a href="" target="_blank">大众</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="news-row">
                        <div class="news-item-focus news-type-new">
                            <a href="" target="_blank">
                                <img src="">
                                <div class="news-focus-cover">
                                    <div class="news-focus-title">韩国双龙推Tivolis电动版 推行旗下车型电动化</div>
                                    <div class="news-focus-type"><i></i><em>新车</em></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="news-hot">
                        <header class="news-hot-header">
                            <h3 class="fn-left">热文榜</h3>
                            <div class="news-hot-tab fn-left">
                                <a href="javascript:;" class="current">周榜</a>
                                <a href="javascript:;">月榜</a>
                            </div>
                        </header>
                        <div class="news-hot-content">
                            <div class="news-hot-tab-content">
                                <ol>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                </ol>
                            </div>
                            <div class="news-hot-tab-content fn-hide">
                                <ol>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                    <li><i class="icon">&#xe60f;</i><a href="" target="_blank">钢炮党锌粉了，马自达或重启MPS高性能品牌</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-tab-content fn-hide"><!-- 新车 --></div>
                <div class="news-tab-content fn-hide"><!-- 行业 --></div>
                <div class="news-tab-content fn-hide"><!-- 技术 --></div>
                <div class="news-tab-content fn-hide"><!-- 政策 --></div>

                <a href="" target="_blank" class="more-news-button">查看更多新能源资讯</a>
            </div>
        </div>
    </div>

    <script src="news.debug.js"></script>

</body>

</html>
