<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/build/common.css">
    <link rel="stylesheet" href="mall.css">
</head>

<body>

    <div id="mall-holder" class="mall-holder">
        <div id="mall" class="mall">

            <div class="mall-top wrap">
                <header class="mall-header fn-left">
                    <div class="mall-header-text">
                        <span>底价承诺</span>
                        <span>正品新车</span>
                        <span>多车试驾</span>
                        <span>购车管家</span>
                    </div>
                </header>
                <div class="event-display fn-right">
                    <div class="event-box fn-left">
                        <div class="event-box-item">
                            <a href="" target="_blank"><img src=""></a>
                            <div class="event-countdown" data-endtime="1483181999000">距结束 <span></span>天<span></span>时<span></span>分<span></span>秒</div>
                        </div>
                        <div class="event-box-item fn-hide"></div>
                        <div class="event-box-item fn-hide"></div>
                        <div class="event-box-item fn-hide"></div>
                    </div>
                    <aside class="event-list fn-right">
                        <a href="javascript:;" class="event-ctrl event-ctrl-prev"><i class="icon">&#xe605;</i></a>
                        <div class="event-list-holder">
                            <div class="event-container">
                                <div class="event-wrapper">
                                    <div class="event-slide">
                                        <div class="event-slide-item current"><img src=""></div>
                                    </div>
                                    <div class="event-slide">
                                        <div class="event-slide-item"><img src=""></div>
                                    </div>
                                    <div class="event-slide">
                                        <div class="event-slide-item"><img src=""></div>
                                    </div>
                                    <div class="event-slide">
                                        <div class="event-slide-item"><img src=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" class="event-ctrl event-ctrl-next"><i class="icon">&#xe606;</i></a>
                    </aside>
                </div>
            </div>

            <div class="mall-list wrap">
                <div class="mall-container">
                    <div class="mall-wrapper">
                        <div class="mall-slide">
                            <div class="mall-model-item mall-item-special">
                                <header class="mall-item-header"></header>
                                <div class="mall-item-content">
                                    <div class="mall-item-pic">
                                        <a href="" target="_blank"><img src=""></a>
                                    </div>
                                    <div class="mall-item-info">
                                        <a href="" class="fn-left" target="_blank">比亚迪e6</a>
                                        <span class="fn-right">￥23.23万</span>
                                    </div>
                                    <div class="mall-item-intro">综合优惠22222元，支持零首付购车，送三年保险</div>
                                </div>
                            </div>
                        </div>
                        <div class="mall-slide">
                            <div class="mall-model-item mall-item-group">
                                <header class="mall-item-header"></header>
                                <div class="mall-item-content">
                                    <div class="mall-item-pic">
                                        <a href="" target="_blank"><img src=""></a>
                                    </div>
                                    <div class="mall-item-info">
                                        <a href="" class="fn-left" target="_blank">比亚迪e6</a>
                                        <span class="fn-right">￥23.23万</span>
                                    </div>
                                    <div class="mall-item-intro">综合优惠22222元，支持零首付购车，送三年保险</div>
                                </div>
                            </div>
                        </div>
                        <div class="mall-slide"></div>
                        <div class="mall-slide"></div>
                        <div class="mall-slide"></div>
                    </div>
                </div>

                <a href="javascript:;" class="mall-swiper-ctrl mall-swiper-prev"><i class="icon">&#xe602;</i></a>
                <a href="javascript:;" class="mall-swiper-ctrl mall-swiper-next"><i class="icon">&#xe603;</i></a>
            </div>

            <div class="mall-local wrap">
                <header class="mall-local-header">
                    <h3 class="fn-left"><span class="mall-local-city">北京</span>新能源购车</h3>
                    <div id="mall-city-btn"></div>
                </header>
                <div class="mall-local-content">
                    <div class="mall-local-item clearfix">
                        <div class="local-item-pic fn-left">
                            <a href="" target="_blank">
                                <img src="">
                                <p>那些系能源汽车过得如何？</p>
                            </a>
                        </div>
                        <div class="local-item-news fn-left">
                            <ul>
                                <li>
                                    <span>团购</span>
                                    <a href="" target="_blank">将渠道刘希成为旗舰机跑车</a>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="local-item-photo fn-right">
                            <ul>
                                <li>
                                    <a href="" target="_blank">
                                        <img src="">
                                        <p>钢炮党兴奋了</p>
                                    </a>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mall-local-item clearfix"></div>
                    <div class="mall-local-item clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <script src="mall.debug.js"></script>

</body>

</html>
