<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/build/common.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>

    <footer id="footer" class="footer">
        <div class="footer-content">
            <div class="wrap clearfix">
                <div class="footer-info fn-left">
                    <div class="footer-title">
                        <div class="footer-logo fn-left">
                            <a href="http://www.diandong.com/"></a>
                        </div>
                        <div class="footer-slogan fn-left"></div>
                    </div>
                    <div class="footer-hotline">
                        <i class="fn-left"></i>
                        <div class="footer-hotline-detail fn-left">
                            <div class="footer-hotline-number">商城服务热线 <span>4000-990-666</span></div>
                            <div class="footer-hotline-time">周一至周日 (9:30 - 18:30) 法定假日除外</div>
                        </div>
                    </div>
                </div>
                <div class="footer-link fn-left">
                    <dl class="fn-left">
                        <dt>平台简介</dt>
                        <dd><a href="http://www.diandong.com/guide/#intro12" target="_blank" rel="nofollow">关于我们</a></dd>
                        <dd><a href="http://www.diandong.com/guide/#intro1" target="_blank" rel="nofollow">商城简介</a></dd>
                        <dd><a href="http://www.diandong.com/guide/#intro10" target="_blank" rel="nofollow">交易条款</a></dd>
                    </dl>
                    <dl class="fn-left">
                        <dt>购车流程</dt>
                        <dd><a href="http://www.diandong.com/guide/#intro2" target="_blank" rel="nofollow">用户注册</a></dd>
                        <dd><a href="http://www.diandong.com/guide/#intro4" target="_blank" rel="nofollow">下单支付</a></dd>
                        <dd><a href="http://www.diandong.com/guide/#intro8" target="_blank" rel="nofollow">获取补贴</a></dd>
                        <dd><a href="http://www.diandong.com/guide/#intro9" target="_blank" rel="nofollow">售后服务</a></dd>
                    </dl>
                    <dl class="fn-left">
                        <dt>联系方式</dt>
                        <dd><a href="http://app.diandong.com/?app=guestbook&controller=index" target="_blank" rel="nofollow">意见反馈</a></dd>
                        <dd><a href="http://www.diandong.com/guide/#intro11" target="_blank" rel="nofollow">联系我们</a></dd>
                        <dd><a href="http://mall.diandong.com/enterprise/commit/" target="_blank" rel="nofollow">企业采购</a></dd>
                    </dl>
                </div>
                <div class="footer-code footer-code-app fn-right">
                    <div class="footer-code-image"></div>
                    <div class="footer-code-text">下载电动邦APP</div>
                </div>
                <div class="footer-code footer-code-weibo fn-right">
                    <div class="footer-code-image"></div>
                    <div class="footer-code-text">关注电动邦官微</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="wrap">
                2014电动邦科技（北京）有限公司 . 京ICP备14045516号 <a href="http://www.diandong.com/sitemap/" target="_blank" class="site-map">网站地图</a>
                <a id='___szfw_logo___' href='https://credit.szfw.org/CX20150812010708310189.html' target='_blank'>
                    <img src='http://icon.szfw.org/cert.png' border='0'>
                </a>
            </div>
        </div>
        <script>
            (function() {
                document.getElementById('___szfw_logo___').oncontextmenu = function() {
                    return false;
                }
            })();
        </script>
    </footer>

    <script src="footer.debug.js"></script>

</body>

</html>
