<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/build/common.css">
    <link rel="stylesheet" href="header.css">
</head>

<body>

    <header id="header" class="header">
        <div class="wrap">
            <div id="logo" class="logo fn-left"><a href="http://www.diandong.com/">电动邦</a></div>
            <div id="slogan" class="slogan fn-left"><em>买电动车 上电动邦</em></div>
            <div id="city-holder" class="city-holder fn-left"></div>
            <div id="user-holder" class="user-holder fn-right"></div>
            <div id="search-holder" class="search-holder fn-right"></div>
        </div>
    </header>

    <script src="header.js"></script>

</body>

</html>
