.filter-select {
    width: 374px;
    height: 92px;
}

.filter-select-bar {
    height: 36px;
}

.filter-brand-list {
    width: 132px;
    height: 36px;
    position: relative;
}

.filter-select-button {
    width: 100%;
    position: absolute;
    display: block;
    height: 100%;
    padding: 0 8px;
    color: #a0a0a0;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    line-height: 34px;
    position: relative;
    z-index: 100;
}

.filter-select-button.focus {
    border-color: #00a0e9;
}

.filter-select-button span {
    float: left;
    font-size: 14px;
}

.filter-select-button i {
    float: right;
    font-size: 12px;
}

.filter-series-list {
    width: 229px;
    height: 36px;
    position: relative;
}

.filter-series-list span {
    float: left;
    font-size: 14px;
}

.filter-series-list i {
    float: right;
    font-size: 12px;
}

.filter-tool-button {
    float: left;
    width: 114px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #00a0e9;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #00a0e9;
    margin-right: 13px;
    border: 1px solid #00a0e9;
}

.filter-select-tool {
    margin-top: 20px;
}

.filter-tool-test {
    margin-right: 0;
}

.filter-tool-button:hover {
    background-color: #00a0e9;
    color: white;
}

.brand-list-holder {
    width: 130px;
    /*height: 341px;*/
    border: 1px solid #bfbfbf;
    position: absolute;
    top: 36px;
    left: 0;
    border-radius: 3px;
    background-color: white;
    padding: 7px 0;
}

.brand-list-key {
    width: 32px;
    float: left;
    border-right: 1px solid #bfbfbf;
    height: 341px;
    overflow-y: auto;
}

.brand-list-key a {
    display: block;
    height: 18px;
    width: 32px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    color: #3b3f40;
}

.brand-list-key a:hover {
    color: #00a0e9;
}

.brand-list-box {
    width: 77px;
    line-height: 34px;
    font-size: 14px;
    border-bottom: 1px solid #bfbfbf;
}

.brand-list-value {
    width: 77px;
    padding: 0 10px;
    float: right;
    height: 341px;
    overflow: auto;
}

.brand-list-element {
    display: block;
    height: 34px;
    width: 77px;
    overflow: hidden;
    color: #3b3f40;
}

.brand-list-element:hover {
    color: #00a0e9;
}

.series-list-holder {
    width: 227px;
    max-height: 355px;
    border: 1px solid #bfbfbf;
    position: absolute;
    top: 36px;
    left: 0;
    background-color: white;
    overflow: auto;
}

.series-list-holder a {
    display: block;
    width: 207px;
    height: 37px;
    border-bottom: 1px dotted #bfbfbf;
    line-height: 37px;
    font-size: 14px;
    color: #3b3f40;
    padding-left: 20px;
}

.series-list-holder a:hover {
    color: #00a0e9;
}

.series-list-holder a:last-child {
    border-bottom-width: 0;
}
