<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/diandong.com/source/css/common.css">
    <link rel="stylesheet" href="filter.css">
    <link rel="stylesheet" href="FilterSelect.css">
</head>

<body>

    <div id="application">

        <div id="filter-holder" class="filter-holder">
            <div id="filter" class="filter">
                <div class="wrap clearfix">
                    <div id="filter-box" class="filter-box fn-left">
                        <nav class="filter-box-tab">
                            <div class="filter-tab-list">
                                <a href="javascript:;" class="current">热门车型</a>
                                <a href="javascript:;">10万以下占号神器</a>
                                <a href="javascript:;">300公里+续航神车</a>
                                <a href="javascript:;">6秒内加速小猎豹</a>
                            </div>
                        </nav>
                        <div class="filter-box-tabcon">
                            <div class="filter-tabcon-list">
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="http://upload.diandong.com/photo/photo/41/c2/18484/thumb_120_1460543360.png">
                                    <p>比亚迪秦EV</p>
                                </a>
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="">
                                    <p>比亚迪秦EV</p>
                                    <i>特惠</i>
                                </a>
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="">
                                    <p>比亚迪秦EV</p>
                                </a>
                            </div>
                        </div>
                        <div class="filter-box-tabcon fn-hide">
                            <div class="filter-tabcon-list">
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="">
                                    <p>比亚迪秦EV</p>
                                </a>
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="">
                                    <p>比亚迪秦EV</p>
                                </a>
                            </div>
                        </div>
                        <div class="filter-box-tabcon fn-hide">
                            <div class="filter-tabcon-list">
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="">
                                    <p>比亚迪秦EV</p>
                                </a>
                            </div>
                        </div>
                        <div class="filter-box-tabcon fn-hide">
                            <div class="filter-tabcon-list">
                                <a href="" class="filter-box-item" target="_blank">
                                    <img src="">
                                    <p>比亚迪秦EV</p>
                                    <i>特惠</i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="filter-select-holder" class="filter-select-holder fn-right">

                        <!---->
                        
                        <!---->

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="filter.debug.js"></script>
    <script src="filter.t.js"></script>

</body>

</html>
