<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/diandong.com/source/css/common.css">
    <link rel="stylesheet" href="social.css">
</head>

<body>

    <div id="social-holder" class="social-holder">
        <div id="social" class="social">

            <div class="social-top wrap">
                <header class="social-header fn-left">
                    <div class="social-header-text">
                        <p>知识的岛屿越大</p>
                        <p>无知的海岸线越长</p>
                    </div>
                </header>
                <div class="social-focus fn-right">
                    <div class="social-swiper fn-left">
                        <div class="social-container">
                            <div class="social-wrapper">
                                <div class="social-slide">
                                    <div class="social-focus-item">
                                        <a href="" target="_blank">
                                            <img src="">
                                            <p>那些新能源车新式礼门，你们现在过得好么</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="social-slide">
                                    <div class="social-focus-item">
                                        <a href="" target="_blank">
                                            <img src="">
                                            <p>那些新能asd源车新式礼门，你们现在过得好么</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="social-slide">
                                    <div class="social-focus-item">
                                        <a href="" target="_blank">
                                            <img src="">
                                            <p>那些新能adasda源车新式礼门，你们现在过得好么</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social-pages"></div>
                    </div>

                    <div class="social-focus-news fn-right">
                        <div class="social-top-line">
                            <a href="" target="_blank">教程：大牛相符备胎的七个回合</a>
                        </div>
                        <ul>
                            <li>
                                <span>充电</span>
                                <a href="" target="_blank">将取代刘希成期间及跑车</a>
                            </li>
                            <li>
                                <span>续航</span>
                                <a href="" target="_blank">将取代刘希成期间及跑车将取代刘希成期间及跑车将取代刘希成期间及跑车</a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="social-friend wrap">
                <header class="social-sub-header">
                    <h4>邦友活动</h4>
                </header>
                <div class="social-friend-content">
                    <div class="friend-container">
                        <div class="friend-wrapper">
                            <div class="friend-slide">
                                <div class="friend-item">
                                    <a href="" target="_blank" class="friend-item-pic"><img src=""></a>
                                    <a href="" target="_blank" class="friend-item-logo"><img src=""></a>
                                </div>
                            </div>
                            <div class="friend-slide">
                                <div class="friend-item">
                                    <a href="" target="_blank" class="friend-item-pic"><img src=""></a>
                                    <a href="" target="_blank" class="friend-item-logo"><img src=""></a>
                                </div>
                            </div>
                            <div class="friend-slide">
                                <div class="friend-item">
                                    <a href="" target="_blank" class="friend-item-pic"><img src=""></a>
                                    <a href="" target="_blank" class="friend-item-logo"><img src=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="javascript:;" class="friend-ctrl friend-ctrl-prev"><i class="icon">&#xe602;</i></a>
                    <a href="javascript:;" class="friend-ctrl friend-ctrl-next"><i class="icon">&#xe603;</i></a>
                </div>
            </div>

            <div class="social-bbs wrap">
                <header class="social-sub-header">
                    <h4>热论板块</h4>
                </header>
                <div class="social-bbs-content">
                    <div class="bbs-list clearfix">
                        <a href="" target="_blank">腾势论坛</a>
                        <a href="" target="_blank">腾势论坛</a>
                        <a href="" target="_blank">腾势论坛</a>
                        <a href="" target="_blank">腾势论坛</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="social.debug.js"></script>

</body>

</html>
