.sidebar {
    width: 35px;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #323c44;
    top: 0;
    right: 0;
    -webkit-transition: right 300ms;
}

.sidebar-list {
    width: 35px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -200px;
}

.sidebar-item {
    width: 19px;
    margin: 0 auto;
    position: relative;
    padding: 8px 0 7px;
    border-bottom: 1px solid #606e79;
}

.sidebar-item-btn {
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    color: #e4eff9;
    margin-left: -8px;
    position: relative;
}

.sidebar-item-btn:hover {
    background-color: #3595e7;
}

.sidebar-item-btn i {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.sidebar-btn-icon {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-btn-icon i {
    font-size: 20px;
}

.sidebar-btn-tip {
    height: 35px;
    line-height: 35px;
    color: white;
    background-color: #5c6b77;
    position: absolute;
    bottom: 0;
    right: 60px;
    width: auto;
    padding: 0 16px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
}

.sidebar-footer {
    width: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sidebar-btn-code .sidebar-btn-tip {
    width: 142px;
    height: 182px;
    padding: 14px 14px 0;
}

.sidebar-btn-hotline .sidebar-btn-tip {
    width: 142px;
    height: 142px;
    padding: 14px;
}

.sidebar-hotline-image {
    width: 142px;
    height: 142px;
    display: block;
    background-image: url(http://i1.dd-img.com/assets/image/1499415554-5e126fcab4a82a9a-142w-142h.jpg);
    background-repeat: no-repeat;
}

.sidebar-code-image {
    width: 142px;
    height: 142px;
    display: block;
    background-image: url(http://assets.diandong.com/web/images/common/toolbar_code.jpg);
    background-repeat: no-repeat;
}

.sidebar-btn-code .sidebar-btn-tip em {
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-style: normal;
    font-weight: normal;
}

.sidebar-footer .sidebar-item:last-child {
    border-bottom-width: 0;
}

.sidebar-list .sidebar-item:last-child, .sidebar-list .sidebar-item:first-child {
    border-bottom-width: 0;
}

.sidebar-btn-tel {
    background-color: #d50d0d;
    height: 115px;
    cursor: pointer;
}

.sidebar-btn-tel i {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.sidebar-btn-tel em {
    display: block;
    width: 17px;
    padding: 5px 9px;
    height: 70px;
    line-height: 16px;
    font-size: 14px;
    font-style: normal;
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
}

.sidebar-btn-tel:hover, .sidebar-btn-tel.open {
    background-color: #bb1010;
}

.sidebar-tel-box {
    width: 332px;
    height: 126px;
    position: absolute;
    top: -20px;
    right: 65px;
    background-color: #eee;
    border-radius: 3px;
    padding-top: 40px;
}

.tel-box-phone {
    display: block;
    width: 250px;
    height: 30px;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
    padding-left: 8px;
    font-size: 14px;
}

.tel-box-submit {
    display: block;
    width: 150px;
    height: 42px;
    border-radius: 3px;
    background-color: #3595e7;
    text-align: center;
    line-height: 42px;
    color: white;
    font-size: 20px;
    margin: 24px auto 0;
}

.tel-box-submit:hover {
    background-color: #197acc;
}

.tel-box-corner {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 13px solid #eee;
    top: 40px;
    right: -26px;
    border-right: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.tel-box-close {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #666;
    top: 5px;
    right: 5px;
    line-height: 30px;
    text-align: center;
}

.tel-box-close i {
    font-size: 20px;
}
